################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MondoText/bin/Debug
/MondoText/obj/x86/Debug
